.container{
    width: 100%;
    height: 100%;
}

.content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction:column;
}
.main{
    width:100%;
    background-color: #Aaa;
    height: 100%;

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    background-image: url('../../../assets/banner4.png') ;
    background-color: #Aaa;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.banner{
    align-self: center;
    width: 60%;
}
.banner p{
    margin: 0px;

    font-size: 50px;
    font-weight: 500;
    color: #fff;
}

.banner .subtitle{
    font-size:30px;
    font-weight:500;
}

.banner .button{
    background-color: #fff;
    color: #000;

    width: 180px;

    margin: 8px 0px;

    font-size:18px;

    transition: all 0.40s ease 0s;
}

.banner .button:hover{
    background-color: #ccc;
    color: #000;
}


@media screen and (max-width: 700px) {
    .banner{
        width: 80%;
    }
}